* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 910px;
}

.box {
    background-color: #949494;
    height: 500px;
    width: 300px;
    display: inline-block;
    position: relative;
}

img {
    width: auto;
    height: auto;
    max-height: 400px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

span {
    margin: 10;
    position: absolute;
    right: 0;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}
